<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giz_proj"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 连接网络权限,用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限,听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:name=".GizApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".act.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.SettingActivity"
            android:label="@string/title_activity_init"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.DeviceActivity"
            android:label="@string/title_activity_device"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.HostActivity"
            android:label="@string/title_activity_host"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.KidActivity"
            android:label="@string/title_activity_kid"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.BindActivity"
            android:label="@string/title_activity_bind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".act.OnceActivity"
            android:label="@string/title_activity_once" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.giz_proj.act.CloundActivity"
            android:label="@string/title_activity_clound"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
